


#hero {
    background-color: #0750c4;
    background: url(../images/inc-div.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    margin-bottom: 50px;
    height:400px;
}

