


#hero {
    background-color: #0750c4;
    background: url(../images/inc-div.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    margin-bottom: 50px;
    height:400px;
}


.list-image {
    width: auto; /* Adjust the size as needed */
    height: 40px;
    margin-right: 10px; /* Space between the image and the text */
    vertical-align: middle; /* Align the image with the middle of the text */
  }
